<h1>Listing magids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magids.each do |magid| %>
      <tr>
        <td><%= magid.name %></td>
        <td><%= link_to 'Show', magid %></td>
        <td><%= link_to 'Edit', edit_magid_path(magid) %></td>
        <td><%= link_to 'Destroy', magid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magid', new_magid_path %>
