<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcat.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcat.category_id %>
</p>

<%= link_to 'Edit', edit_subcat_path(@subcat) %> |
<%= link_to 'Back', subcats_path %>
