<h1>Listing shiurs</h1>

<table>
  <thead>
    <tr>
		<th></th>
      <th>Magid</th>
      <th>Category</th>
      <th>Subcat</th>
      <th></th>
      <th>Description</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shiurs.each do |shiur| %>
      <tr>
        <td><%= shiur.shiur_date %></td>
        <td><%= get_name shiur.magid %></td>
        <td><%= get_name shiur.category %></td>
        <td><%= get_name shiur.subcategory %></td>
        <td><%= shiur.name %></td>
        <td><%= shiur.description %></td>
        <td><a href='http://<%= shiur.location_link %>'>Listen</a></td>
        <td><%= link_to 'Edit', edit_shiur_path(shiur) %></td>
        <td><%= link_to 'Delete', shiur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shiur', new_shiur_path %>
